
---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
    </style>
	</head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog/">Blog</a>
    <h1>About this site</h1>
      <p>As of June 2nd, I am still building this site. I am building it using Astro.</p>
	</body>
</html>
